<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: head}"></head>
<body>
<div id="menu" th:insert="~{fragments/menu :: menu}"></div>
<div id="page" class="container mt-4">
    <h2 th:text="${pageTitle}" class="mb-4"></h2>
    <h3>Edit existing client</h3>
    <form action="#" th:action="@{/clients/update/{id}(id=${updateClient.id})}" th:object="${updateClient}" method="post" class="mb-4">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" th:field="*{name}" id="name" class="form-control" th:errorclass="is-invalid"/>
            <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback" th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address:</label>
            <input type="text" th:field="*{address}" id="address" class="form-control" th:errorclass="is-invalid"/>
            <div th:if="${#fields.hasErrors('address')}" class="invalid-feedback" th:errors="*{address}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
</body>
</html>