<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h2>Products</h2>
<h3>Add new product</h3>
<form action="#" th:action="@{/products/add}" th:object="${product}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Price: <input type="text" th:field="*{price}" /></p>
    <p><button type="submit">Add</button></p>
</form>

<div th:switch="${#lists.size(products)}">
  <p th:case="0">No products</p>
  <div th:case="*">
    <table>
      <thead><tr><th>Name</th><th>Price</th></tr></thead>
      <tbody>
        <tr th:each="product : ${products}">
          <td th:text="${product.name}">Name</td>
          <td th:text="${product.price}">Price</td>
          <td><a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a></td>
          <td><a th:href="@{/products/delete/{id}(id=${product.id})}">Delete</a></td>
        </tr>
    </table>

  </div>

</div>
</body>
</html>